<!DOCTYPE html>
<html>
  <head>
    <title>Bill</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "styles.css" %>
    <%= javascript_pack_tag 'application' %>

    <!-- datepicker styles-->
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
    <!-- datepicker styles-->

    <!-- datepicker js -->
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <!-- datepicker js -->
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/navigation' %>
    <%= yield %> <!-- Variable content page -->
    <%= render 'shared/footer' %>
  </body>
</html>
